html{
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: center;
}
body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

header{
    margin: 20px;
    max-width: 600px;
    display: block;
  }

  header b, li{
    color: white;
  
  }
  
  header ul li p{
    text-align: left;
  }